.Genres{
    display: flex;
    margin-top:20px;
    justify-content: space-around;
    align-items: center;
}
.Genres > div{
    max-width: 16vw;
    max-height: 8.5vw;
    margin-left:6px;
    border: 3px solid rgba(249, 249, 249, 0.1);
    border-radius:20px;
    box-shadow: rgb(0 0 0) 0px 26px 30px -10px, rgb(0 0 0) 0px 16px 10px -10px;
    cursor: pointer;
    transition: 0.5s;
}
.Genres > div:hover{
    border: 3px solid white;
    transform: scale(1.2);
}
.Genres > div > img{
    width: 15.5vw;
    object-fit: cover;
    z-index: 9;
    opacity: 1;
}
.Genres > div > video{
    width: 16.2vw;
    position: relative;
    left: -1px;
    top:-140px;
    border-radius:20px;
    opacity: 0;
    z-index: 0;
}
.Genres > div > video:hover{
    opacity: 0.4;
}
